{% extends 'layout.html' %} {% block body %} {% for post in posts.items %}
<div class="card blog-card">
 <div class="card-body media">
    <img class="rounded-circle m-3" style="height: 70px;" src="{{ url_for('static', filename='profile-pics/' + post.author.profile_img) }}">
      <div class="media-body">
    <h1 class="card-title mb-0">{{ post.title }}</h1>
    <a href="{{ url_for('user_post',username=post.author.username) }}" class="text-secondary">@{{ post.author.username }}</a>
    {% if post.author == current_user %}
    <a href="{{ url_for('post',post_id=post.id) }}" class="text-secondary ml-2">Go to your post</a>
    {% endif %}
    {% if  post.content |length >200 %}
    <p class="card-text mt-2 mb-0">{{ post.content[:200] }}... <a href="{{ url_for('post',post_id=post.id) }}" class="text-primary font-italic">Read More</a></p>
    {% else %}
    <p class="card-text mt-2 mb-0">{{ post.content }}</p>
    {% endif %}
    <p class="text-secondary font-weight-light ">posted on {{ post.date_posted.strftime(('%A, %I:%M %p')) }}</p>
  </div>
</div>
</div>
{% endfor %}
{% for page_num in posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
  {% if page_num>=1 %}
    {% if posts.page == page_num %}
      <a class="btn btn-info mb-4" href="{{ url_for('index',page=page_num) }}">{{ page_num }}</a>
    {% else %}
      <a class="btn btn-outline-info mb-4" href="{{ url_for('index',page=page_num) }}">{{ page_num }}</a>
    {% endif %}
  {% else %}
    ...
  {% endif %}
{% endfor %}
{% endblock %}
