{% extends 'layout.html' %} {% block body %} 
<h2 class="mb-3">Posts by {{ user.username }} ({{ posts.total }})</h2>
{% for post in posts.items %}
<div class="card blog-card">
  <div class="card-body">
    <h1 class="card-title">{{ post.title }}</h1>
    <p class="card-text">{{ post.content }}</p>
    <a href="{{ url_for('post',post_id=post.id) }}" class="btn btn-primary">Read Now</a>
  </div>
</div>
{% endfor %}
{% for page_num in posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
  {% if page_num %}
    {% if posts.page == page_num %}
      <a class="btn btn-info mb-4" href="{{ url_for('index',page=page_num) }}">{{ page_num }}</a>
    {% else %}
      <a class="btn btn-outline-info mb-4" href="{{ url_for('index',page=page_num) }}">{{ page_num }}</a>
    {% endif %}
  {% else %}
    ...
  {% endif %}
{% endfor %}
{% endblock %}
